		body{
			display: block;
			margin: 0px;
			padding: 0px;
			border: 0px;
		}
		h1{
			text-align: center;
			font-style: italic;
			font-size: 50px;
		}
		div.main_wrapper{
			height:100%;
			display: -webkit-box;
			-webkit-box-orient:vertical;
		}
		div{
			
			margin: auto;
			text-align: center;
		}
		div.time{
			padding: 50px;
			font-size: 40px;
			background-color: green;
			border-radius: 20px;
		}
		div.menu{
			padding: 40px;
		}
		footer{
			text-align: center;
		}
		a{
			text-decoration: none;
			color: blue;
			font-style: italic;
			font-size: 13px;
			font-weight: bold;
		}
		a:hover{
			color: green;
		}
		.button1{
			padding: 25px;
			border-radius: 10px;
			background-color: yellow;
		}
		.button2{
			padding: 20px;
			border-radius: 20px;
			background-color: black;
			color: white;
			font-weight: bold;
		}
		.button2:hover{
			background-color: red;
		}